

body {
    color: beige;
    margin: 0;
}

.inside {
    display: grid;
    grid-template-columns: repeat(4);
    background: linear-gradient(120deg, #2563eb 0%, #7c3aed 50%, #0f172a 100%);
    color: #fff;
}