

body {
    color: beige;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.inside {
    display: grid;
    border: 2px solid red;
    border-radius: 5px;
    background-color: blue;
    grid-template-columns: 200px 200px 200px 200px;
    /* grid-template-columns: repeat(4);
    background: linear-gradient(120deg, #2563eb 0%, #7c3aed 50%, #0f172a 100%);
    color: #fff; */
}